<!-- Barre de navigation -->
<%- include('../partials/head'); %>

<!-- Contenu de la page ACCUEIL -->
<main>
    <%- include('accueil-contents/bg_homepage.ejs'); %>
    <%- include('accueil-contents/content_1.ejs'); %>
    <%- include('accueil-contents/content_2.ejs'); %>
    <%- include('accueil-contents/content_3.ejs'); %>
    <%- include('accueil-contents/content_4.ejs'); %>
</main>

<!-- Barre de fin -->
<%- include('../partials/footer'); %>